.checkbox {
    $p: &;
    $checkbox-size: 18px; 

    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 187%;
    padding-left: 30px;

    &__input {
        position: absolute;
        left: 2px;
        top: 0;
        width: 24px;
        height: 30px;
        opacity: 0;
        cursor: pointer;

        &:checked ~ #{$p}__mark {
            background-color: #ff972f;
            
            &:after {
                display: block;
            }
        }
    }

    &__mark {
        position: absolute;
        top: 0.23em;
        left: 0;
        height: $checkbox-size;
        width: $checkbox-size;
        background-color: #ffca3c;
        border: 2px solid #deae2d;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 50%;
            top: 50%;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}