@import "../components/form";
@import "../components/form-item";
@import "../components/form-control";
@import "../components/checkbox";

.feedback-form {
    &__footer {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -20px 0 0;
    }

    &__col {
        margin: 15px 20px 0 0;
        flex-basis: 280px;
        flex-grow: 1;
    }
}
