extends ../layout/main

block styles
    //- link(rel="stylesheet" href='assets/css/feedback-form.css')

block content
    +h(2) Форма обратной связи
    +form.feedback-form
        +form-item("Заголовок")
            +form-control("title", "Тема")(required)
        +form-item("Обращение")
            +form-control("appeal", "Описание обращения", "textarea")(required)
        +form-item("Содержание просьбы")
            +form-control("request", "Содержание просьбы", "textarea")(required)
        +form-item("Регион")
            +form-control("region", "Регион")(required)
        +form-item("Данные заявителя")
            +form-control("name", "ФИО полностью")(required)
        +form-item("Местонахождение заявителя")
            +form-control("address", "Адрес регистрации")(required)
        +form-item
            .feedback-form__row
                .feedback-form__col
                    +form-item("Телефон")
                        +form-control("phone", "Телефон")(type="tel" required)
                .feedback-form__col
                    +form-item("Адрес электронной почты")
                        +form-control("email", "E-mail")(type="email" required)
        +form-item
            +checkbox("consent", true)
                | Я подтверждаю свое согласие на сбор, обработку и хранение персональных данных согласно
                a(href="#")  политике обработки персональных данных
        .feedback-form__footer
            +button()(type="submit")
                | Отправить
