include ../components/h
include ../components/form
include ../components/form-item
include ../components/form-control
include ../components/button
include ../components/checkbox

block variables
  -
    var title="Центросоюз Российской Федерации";
    var description="Официальный сайт Центросоюза Российской Федерации. Региональные потребительские союзы. Новости кооперации. Новости потребительской кооперации. Образовательные, социальные и коммерческие проекты Центросоюза РФ. Все о потребительской кооперации России. Юридическая помощь в создании кооперативов.";

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href='assets/css/brand.css')
    block styles

  body
    block content

    block script